@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@media (max-width: 1000px) {
    body header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p {
        font-weight: 600;
    }

    header a {
        font-weight: 600;
    }

    #cel {
        width: 500px;
    }

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: 'montserrat';
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #696969;
    box-shadow: rgba(0, 0, 0, 0.096) 10px 10px 10px 10px;
    margin-bottom: 100px;
}

footer {
    background-color: #696969;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#left {
    display: flex;
    flex-direction: column;
}

.center {
    margin: auto;
    padding: 100px
}

.blogtitle {
    color: #696969;
    font-weight: 800;
}

.feedback-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feedback-column {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px;
}

.card {
    width: 200px;
    padding: 10px 10px 10px 10px;
    align-items: flex-start;
}

.card2 {
    display: flex;
    width: 200px;
    padding: 10px 10px 10px 10px;
    align-items: flex-start;
    margin: 100px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 0px 50px 0px 50px;
}

.bg-cinza {
    background-color: #F6F6F6;
}

.botao-rosa {
    display: flex;
    border: 1px solid #FF4081;
    justify-content: flex-start;
    border-radius: 20px;
    text-decoration: none;
    color: #FF4081;
    padding: 10px 10px;
    transition: 1s;
}

.botao-rosa:hover {
    background-color: #FF4081;
    color: #ffffff;
    border: #FF4081 1px solid;
}

.botao-rosaBackground {
    color: white;
    background-color: #FF4081;
    border: #FF4081 10px solid;
    align-content: center;
    border-radius: 20px;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    transition: 0.5s;
}

.botao-rosaBackground:hover {
    background-color: #ffffff;
    color: #FF4081;
    border: #ffffff 10px solid;
}

.botao-azulBackground {
    color: white;
    background-color: #FF4081;
    border: #FF4081 10px solid;
    border-radius: 20px;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}

.nav-menu {
    padding: 10px;
    transition: 1s;
    border-radius: 20px;
}

.nav-menu:hover {
    background-color: #FF4081;
    height: 10px;
  }

.btn-link {
    border: 1px solid #F6F6F6;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
}

#sessionTres {
    margin: 20px 20px;
}

/*  page cursos */

#title-column {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.line {
    height: 5px;
    background-color: #696969;
    margin: 50px 100px 50px 100px;
}